.--noFloat {
  float: none;
}
.--noBoxShadow {
  box-shadow: none;
}

.ButtonToolbar--align--small {
  margin: auto;
  margin-top: 10px;
  width: 50%;
}
.ButtonToolbar--align--big {
  margin: auto;
  margin-top: 10px;
  width: 75%;
}

.Dropzone {
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

